<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Auth Source</title>
  </head>
  <body>
    <form action="/login" method="post">
      <input type="hidden" name="client_id" value="<%=client_id%>">
      <input type="hidden" name="redirect_uri" value="<%=redirect_uri%>">
      <label for="username" >Username</label>
      <input type="text" value="kanujdg3623" name="username" id="username">
      <label for="password">Password</label>
      <input type="password" value="password" name="password">
      <button type="submit">SUBMIT</button>
    </form>
  </body>
</html>
